body {
    padding-top: 200px;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}

nav {
    background-color: #ffadc8;
}

.parallax-window {
    min-height: 600px;
    background: transparent;
}

.carousel-item {
    height: calc(100vh - 80px);  /*navbar height = 80px*/
    background-size: cover;
    background-position: center;
}

.carousel-item:nth-child(1){
    background-image: url("bg/bb.jpeg");
}
.carousel-item:nth-child(2){
    background-image: url("bg/bbb.jpeg");
}
.carousel-item:nth-child(3){
    background-image: url("bg/b.jpeg");
}

#zaloga {
    margin: 50px 0 50px;
}
.card p {
    font-size: 24px;
    font-weight: 100;
}
